*.pyc
*.egg
*.egg-info
*.dist-info
.*.swp
.swp
*~
*.bak

_build/
.DS_Store
.idea/
.ropeproject/
dist/
build/
wheel/
wheelhouse/
virtualenv/

atlassian-ide-plugin.xml
coverage.xml
.coverage
pylint.out
pylint.txt
pep8.txt
MANIFEST
